# Archivos de caché y compilados de Python
__pycache__/
**/__init__.py
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv/

# Carpetas de herramientas y editores
.vscode/
.pytest_cache/


#Variables de entorno
.env
config.ini


